# AI Coding
/plan

# Operating System: macOS
.DS_Store

# Build outputs
rdiscount-*.gem

# Other
/ext/*.o
/ext/*.bundle
/ext/*.bundle.dSYM
/ext/*.so
/ext/*.dll
/ext/mkmf.log
/ext/ruby-*
/lib/*.bundle
/lib/*.so
/lib/*.dll
/ext/Makefile
/pkg
/discount-*
.yardoc
doc
.idea
